.fc .holiday-request-list-event {
    border-left: 5px solid #326567;
    font-weight: 600;
}

.holiday-profile-color-field {
    min-width: 120px;
}

#navbar a[data-name="holidayApprovals"] {
    display: none;
}

body.holiday-management-approver #navbar a[data-name="holidayApprovals"] {
    display: block;
}
